.page{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 3em;
    
}

.page > header{
    flex-basis: 100%;
    border-bottom: 2px solid #000;
}

.page > main{
    flex: 1 1 35rem;
}

.page > aside{
    flex: 1 1 15rem;
    margin-left: 1em;
}


