body{
    background: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    background: rgb(255, 255, 255);
    max-width: 30em;
    padding: 2em;
    border-radius: 0.4em;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.3) ;
}
